<div class="button-div-class">

  {% if block.settings.button_url != blank %}
    <a
      data-theme-block-id="{{ block.id }}"
      href="{{ block.settings.button_url }}"
      target="_blank"
      class="theme-block-button {{ block.settings.button_type }} {% if block.settings.disable_hover %} no-hover {% endif %}
      {% if block.settings.use_outline %} outline-button {% endif %}
      {% if block.settings.use_border_radius %} border-radius {% endif %}">
      {{ block.settings.button_text }}
    </a>

  {% else %}

    <a data-theme-block-id="{{ block.id }}" class="theme-block-button no-url">
      {{ block.settings.button_text }}
    </a>
  {% endif %}


</div>

{% schema %}
  {
    "name": "Button",
    "settings": [
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Label",
        "default": "Button"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      },
      {
        "type": "select",
        "id": "button_type",
        "label": "Button Type",
        "options": [
          {
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          },
          {
            "value": "tertiary",
            "label": "Tertiary"
          }
        ],
        "default": "primary"
      },
      {
        "type": "checkbox",
        "id": "disable_hover",
        "label": "Disable Hover Effect",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "use_outline",
        "label": "Use Outline Button",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "use_border_radius",
        "label": "Use Border Radius",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Button"
      }
    ]
  }
{% endschema %}